.red-200 {
  background: rgb(255, 163, 163);
}
.green-200 {
  background: rgb(163, 255, 199);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
h1 {
  margin: 20px 0;
}

iframe {
  overflow: hidden;
  height: 56.25vw;
  left: 50%;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

/* ! NAVIGATION */
.main-nav {
  z-index: 10;
  position: fixed;
  background: #ffffff;
  display: flex;
  width: 100%;
  height: 100px;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.main-nav .menu {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.sidebar {
  z-index: 30;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
  background-color: #940025;
  min-width: 800px;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-header {
  margin-bottom: 32px;
  padding: 60px 32px;
  transform: translateY(-300px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.sidebar-menu-links {
  margin-left: 50px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 319px;
  margin-bottom: 80px;
  row-gap: 48px;
  width: 800px;
  transform: translateY(500px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.js-active-menu .sidebar-menu-links {
  opacity: 1;
  transform: translateY(0);
}

.sidebar-footer {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transform: translateY(500px);
}

.js-active-menu .sidebar-footer {
  opacity: 1;
  transform: translateY(0);
}

.sidebar-footer .contact-btn {
  width: 50%;
}

.default-text {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  transform: translateX(20px);
}

.sidebar-footer .locations {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-footer .locations .address-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.23em;
  line-height: 10px;
  text-transform: uppercase;
  color: #bc4865;
}

.sidebar-footer .locations .address-info {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 21px;
}

.contact-us-btn {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 13.33px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.14em;
  line-height: 80%;
  padding: 42px 50px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 288px;
  z-index: 1;
}

.contact-us-btn .hover-text {
  display: none;
}

/* .contact-us-btn .default-text {
  display: block;
} */

.contact-us-btn::before {
  width: 50%;
  background-color: #1d1f20;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-us-btn:hover::before {
  width: 100%;
}

.contact-us-btn:hover .default-text {
  display: none;
}

.contact-us-btn:hover .hover-text {
  display: block;
}

.link {
  min-width: 279px;
}

.link a {
  font-size: 69px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.14, 1.11, 0.28, 1.13);
}

.link a:hover {
  padding: 6px 16px;
  background-color: #1d1f20;
}

.js-active-menu .sidebar-menu-header {
  opacity: 1;
  transform: translateY(0);
}

.sidebar-close-btn {
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  color: #ffffff;
  border: none;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-close-btn .icon {
  padding-top: 4px;
  /* height: 15px; */
  width: 15px;
}

.sidebar-close-btn .icon svg {
  fill: #ffffff;
}

.js-active-menu .sidebar {
  transform: translateX(0);
}

.overlay {
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.js-active-menu .overlay {
  transform: translateX(0);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.logo svg {
  display: block;
}

.logo svg path {
  fill: black;
}

.animate-logo {
  left: 40px;
  transform: translate(0, -50%);
}

.menu-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0, -50%);
}

.js-menu-btn-light svg {
  fill: #ffffff;
}

.js-menu-btn-dark svg {
  fill: #000000;
}

.test {
  background: white;
  position: relative;
  z-index: 3;
  height: 100vh;
  width: 100%;
}

.js-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-right: 12px;
}

.video-wrapper {
  background-color: gray;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 56px;
  width: calc(100% - 112px);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* !VIDEO WRAPPER ANIM */
.js-bg-anim-1 .video-wrapper {
  opacity: 1;
  top: 200px;
}

.js-bg-anim-2 .video-wrapper {
  top: 80px;
}

.js-bg-anim-3 .video-wrapper {
  top: 0;
  left: 0;
  width: 100%;
}

.video-wrapper:before {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  content: "";
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    linear-gradient(0deg, rgba(148, 0, 37, 0.05), rgba(148, 0, 37, 0.05));
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.js-bg-anim-3 .video-wrapper:before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.scrolldown-wrapper {
  opacity: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(-100%);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.scrolldown-img {
  display: flex;
  justify-content: center;
}

/*! SCROLLDOWN ANIM */
.js-sd-anim-1 .scrolldown-wrapper {
  transform: translateY(0);
  opacity: 1;
}

.amp-wrapper {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 250px;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ! AMP ANIMATION */
.js-amp-anim-1 .amp-wrapper {
  opacity: 1;
  top: 100px;
}

.js-amp-anim-2 .amp-wrapper {
  opacity: 0;
}

.title-wrapper {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 450px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ! TITLE WRAPPER ANIMATION */
.js-title-anim-1 .title-wrapper {
  opacity: 1;
  top: 350px;
}

.js-title-anim-2 .title-wrapper {
  top: 100px;
}

.js-title-anim-3 .title-wrapper {
  opacity: 0;
}

.title-wrapper:after {
  align-self: flex-start;
  z-index: 2;
  width: 0;
  height: 1px;
  color: #ffffff;
  background: #ffffff;
  content: "";
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* !TITLE WRAPPER AFTER ANIMATION */
.js-title-anim-2 .title-wrapper:after {
  width: 90%;
}

.title-wrapper h1 {
  font-weight: 200;
  color: #ffffff;
  font-size: 118.88px;
}

.content-wrapper {
  z-index: 2;
  position: absolute;
  top: 600px;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-wrapper .contents {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}

/* ! CONTENT ANIMATION */
.js-content-anim-1 .content-wrapper {
  opacity: 1;
  top: 300px;
}

.js-content-anim-3 .content-wrapper {
  opacity: 0;
}
.content-left {
  width: 30%;
}

.content-right {
  width: 30%;
}

.content-left p {
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 39px;
  color: #ffffff;
}

.content-right p {
  color: #fff;
  font-family: AktivGrotesk;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 26px;
  margin-bottom: 0;
}
